model_config_list: {
    config: {
        name: "saved_model_half_plus_two_cpu",
        base_path:
        "/models/saved_model_half_plus_two_cpu/",
        model_platform: "tensorflow",
        model_version_policy {
            specific{
                versions: 123
                versions: 124
            }
        }
    },
    config: {
        name: "saved_model_half_plus_three",
        base_path: "/models/saved_model_half_plus_three/",
        model_platform: "tensorflow"
    }
}